.donationFormContainer{
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 30%;
    background-color: $tpink;
    border-radius: 100px;
    margin-bottom: 20px;
    height: 350px;    
    .widgets{
        justify-content: center;
        button{
            height: 100px;
        }
    }
}
//.panel{
    //text-align: center;
//}

#single-tab, #monthly-tab{
    display: inline-block;
    width: 75px;
    height: 75px;
    justify-content: center;
    border: none;
    margin-left: 15px;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background-color: $primaryPink;
    }
}

div.donationAmount fieldset{
    border: none;
    button{
        background-color: white;
        padding: 20px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        &:hover{
            background-color: $primaryPink;
        }
    }
}

#own-amount-input{
    text-align: center;
    border-radius: 3px;
    width: 50px;
    &:focus::placeholder{
      color: transparent;
    }
  }

  .submit button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: white;
    text-align: center;
    font-family: $mainFont;
    font-size: $fontTitleSize;
    margin-top: 5px;
    
    &:hover{
        background-color: $primaryPink;
        cursor: pointer;
    }
  }

  #donateForm{
      background-color: $primaryPink;
  }

  