
.dogsGrid{
    margin-top: 30px;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div.dogContainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 10px;
}

div.dogContainer{
    text-align: center;
}

div.dogsGrid div.dogContainer p#names{
    font-family: $dogNames;
    font-weight: 700;
    font-size: 1.5pc;
}
.dogsGrid2{
    margin-top: 200px;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 100px;
    div.dogContainer p#names{
        font-family: $dogNames;
        font-weight: 700;
        font-size: 1.5pc;
    }
}

footer#stories-footer{
    margin-top: 10%;
}