div.header{
    color: white;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 60px;
    background: $lightPink;
}

form.donateForm2{
    padding-top: 60px;
    padding-bottom: 60px;
}