div.banner-container{
    max-height: 350px;
    position: relative;
    img{
        filter: blur(4px);
        object-fit: cover;
        width: 100%;
        max-height: 250px;
    }
    h1{
        padding: 10px;
        border-radius: 3px;
        color: $primaryPink;
        background-color: $tpink;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.textContainerKennel{
    padding-top: 20px;
    text-align: left;
    margin: auto;
    max-width: 70%;
}