.volunteering-image{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px ; 
    padding-top: 30px;
    padding-bottom: 30px;  
}

.text-content{
    padding-top: 20px;
    text-align: left;
    margin: auto;
    max-width: 70%;
    h2{
        text-align: center;
    }
}
